In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from ASHRAE_tools import meter_dict
from ASHRAE_data_prep import tidy_train

In [2]:
meter_dict = meter_dict()
X_train, y_train = tidy_train()

In [4]:
X_train.head()

,building_id,meter,timestamp,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,hour,day,wday,week
0,0,0,2016-01-01,0,Education,7432,2008.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0,0,2016-01-01,4,53
1,1,0,2016-01-01,0,Education,2720,2004.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0,0,2016-01-01,4,53
2,2,0,2016-01-01,0,Education,5376,1991.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0,0,2016-01-01,4,53
3,3,0,2016-01-01,0,Education,23685,2002.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0,0,2016-01-01,4,53
4,4,0,2016-01-01,0,Education,116607,1975.0,NaN,25.0,6.0,20.0,NaN,1019.7,0.0,0.0,0,2016-01-01,4,53

In [5]:
y_train.head()

   meter_reading
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0

## Modelo de Regresi√≥n 1

In [6]:
mod_reg = LinearRegression()

In [7]:
mod_reg.fit(X_train,y_train)

TypeError: float() argument must be a string or a number, not 'Timestamp'